name: Create Docker Container

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build-and-push-images:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: postgres-bingo
            image: quay.io/massbank/postgres-bingo
            dockerfile: Dockerfile
          - name: postgres-bingo-init
            image: quay.io/massbank/postgres-bingo-init
            dockerfile: Dockerfile.initContainer

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          tags: |
            # tag event
            type=ref,event=tag
            # set latest tag for main branch
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Build and push postgres-bingo image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}